@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Mulish:wght@600;700&display=swap');

:root{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    --color-primary: #3579F4;
    --main-text-color: #18162D;
    --text-contact-color: #FFFFFF;
    --color-contact_us:rgba(255, 255, 255, 0.9);
    --text-optional-color:#000000;
    --color-send-message:#F0F0FA;
    --text-color-policy:#E4E4E4;
    --color-grey: rgba(255, 255, 255, 0.4);;
    --color-grey2: #8C8C8C;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    max-height: 518.4rem;
}

li
{
    list-style-type: none;
}

ul{
    padding-left: 0;
}

a{
    text-decoration: none;
}
h2{
    margin: 0rem;
}
/*__________________________Margin-left и margin-top - не используются_____________*/
/*__________________Когда блоку нужен отступ сверху или слева, он его получает за
____________________счет padding-top и padding-left родителя*/


/*________________________________________HEADER______________________________*/

.header_class
{
    padding-left: 2.9rem;
    padding-top: 3.0rem;
}

.header_img_logo{

    width: 18.4rem;
    height: 5.3rem;
}

.header_menu_but
{
  background: transparent; 
  border-style: none;
  width: 3.1rem;
  height: 3.1rem;
  padding-left: 10.4rem;
  padding-top: 4.1rem;
}
/*________________________________________END HEADER______________________________*/


/*________________________________________MAIN______________________________*/
/*________________________________________SECTION1______________________________*/


.boat_loading{
    font-family: 'Mulish', sans-serif;;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4.2rem;
    color: var(--main-text-color);
    
    max-width: 50rem;
    max-height: 4.2rem;
    margin: 0rem;
    }
    
.boat_loading_text{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgba(24, 22, 45, 0.9);
    
    width: 32.0rem;
    height: 7.2rem;
    padding-left: 2.9rem;

    margin: 0rem;
    }

.cupboard_img{
    position: absolute;
    left: 13.068rem;
    top: 28.95rem;
}

.boat_img{
    position: relative;
    left: 0rem;
    top: 16.996rem;
}

.hide
{
    display: none;
}

.type_boat_text
{   
font-weight: 600;
font-size: 1.8rem;
line-height: 2.2rem;
text-transform: uppercase;
color: var(--color-primary);
padding-top: 22.456rem;
padding-left: 2.7rem;

margin: 0rem;
}

.container {
    display: grid;
    max-width: 32.346rem;
    height: 24.8rem;
    grid-template-columns: repeat(3, 1fr);
}

.container_div
{
    padding-left: 27px;
}

 .box_type_of_boats
{
    background: #F0F0FA;
    border-radius: 1.0rem;
    width: 10.146rem;
    height: 9.0rem;
}

.img_boat_grid{
    padding-left: 2.5rem;
    padding-top: 2rem;
}


.img_boat_grid_1
{
    padding-left: 2.7rem;
    padding-top: 2.2rem;
}

.img_boat_grid_2{
    padding-left: 2.6rem;
    padding-top: 2.1rem;
}

.img_boat_grid_3{
    padding-left: 2.8rem;
    padding-top: 2.2rem;
}

.img_boat_grid_4{
    padding-left: 2.7rem;
    padding-top: 2.4rem;
}

.img_boat_grid_5{
    padding-left: 2.4rem;
    padding-top: 1.9rem;
}

p.text_fishing
{
font-family: 'Mulish', sans-serif;;
font-weight: 600;
font-size: 1.4rem;
line-height: 1.8rem;
/* identical to box height */
color: var(--main-text-color);
text-align: center;

padding-top: 0.5rem;
}

p.text_jet
{
font-family: 'Mulish', sans-serif;;
font-weight: 600;
font-size: 1.4rem;
line-height: 1.8rem;
/* identical to box height */
text-align: center;
color: var(--main-text-color);

padding-top: 0.5rem;
}

p.text_sports{
font-family: 'Mulish', sans-serif;;
font-weight: 600;
font-size: 1.4rem;
line-height: 1.8rem;
text-align: center;
color: var(--main-text-color);

padding-top: 0.5rem;
}

p.text_pontoon{
font-family: 'Mulish', sans-serif;;
font-weight: 600;
font-size: 1.4rem;
line-height: 1.8rem;
text-align: center;
color: var(--main-text-color);

padding-top: 0.8rem;
}

p.text_sail
{
font-family: 'Mulish', sans-serif;;
font-weight: 600;
font-size: 1.4rem;
line-height: 1.8rem;
text-align: center;
color: var(--main-text-color);

padding-top: 1rem;
}

p.text_yachts
{
font-family: 'Mulish', sans-serif;;
font-weight: 600;
font-size: 1.4rem;
line-height: 1.8rem;
text-align: center;
color: var(--main-text-color);

padding-top: 0.4rem;
}
/*________________________________________END SECTION1______________________________*/

/*________________________________________SECTION2______________________________*/
.container_shipment
{
font-family: 'Mulish', sans-serif;;
font-weight: 700;
font-size: 2.8rem;
line-height: 2.8rem;
color: var(--color-primary);

padding-top: 4rem;
padding-left: 2.7rem;

margin: 0rem;
}

.hr_style{
    width: 32.0rem;
    border: 0.15rem solid var(--color-primary);
	background: var(--color-primary);
    border-radius: 0.3em ;

    margin: 0rem;
}

.text_container_shipment
{
font-weight: 400;
font-size: 2.2rem;
line-height: 2.4rem;
color: var(--main-text-color);

padding-left: 2.8rem;

margin: 0rem;
}

.img_1_section2{
    padding-left: 2.9rem;
}

.flat_reck_loading{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: var(--color-primary);

    padding-top: 5rem;
    padding-left: 2.7rem;

    margin: 0rem;
}

.text_flat_reck
{
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: var(--main-text-color);
    padding-left: 2.8rem;

    margin: 0rem;
}

.img_2_section2
{
    padding-left: 2.9rem;
}

.on_deck_cargo
{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: var(--color-primary);

    padding-left: 2.7rem;
    padding-top: 4rem;

    margin: 0rem;
}

.text_on_deck_cargo
{
font-weight: 400;
font-size: 2.2rem;
line-height: 2.4rem;
color: var(--main-text-color);

padding-left: 2.8rem;

margin: 0rem;
}

.img_3_section2{
    padding-left: 2.9rem;
}
/*________________________________________END SECTION2______________________________*/


/*________________________________________SECTION3______________________________*/
.h2_optional_services
{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 4.3rem;
    color: var(--main-text-color);

    padding-top: 6rem;
    padding-left: 2.8rem;
}

.div_optinal_service
{
    padding-left: 2.8rem;
}

.button_optional
{
    background: var(--text-contact-color);
    box-shadow: -0.4rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
    border-radius: 2.0rem;
    width: 32.0rem;
    height: 10.0rem;
    text-align: center;
}

.text_optional
{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    align-items: center;
    color: var(--text-optional-color);
    padding-top: 3.7rem;
    margin-left: 7.4rem;
    width: 17.2rem;
    height: 2.6rem;
}
.text_optional_1
{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 3.7rem;
    margin-left: 3.0rem;
    width: 25.9rem;
    height: 2.6rem;
}
.text_optional_2
{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 3.7rem;
    margin-left: 0.8rem;
    width: 30.0rem;
    height: 2.6rem;
}
.text_optional_3
{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 2.4rem;
    margin-left: 5.4rem;
    width: 21.1rem;
    height: 5.2rem;
}
.text_optional_4
{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 2.4rem;
    margin-left: 4.6rem;
    width: 22.7rem;
    height: 5.2rem;
}
.text_optional_5
{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 2.4rem;
    margin-left: 7.6rem;
    width: 16.7rem;
    height: 5.2rem;
}
/*________________________________________END SECTION3______________________________*/

/*________________________________________SECTION4______________________________*/
.form_contact_us
{
    background-color: var(--color-primary);
    border-radius: 3.5rem 3.5rem 0rem 0rem;
    height: 115.1rem;
}

.contact_us
{
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 2.0rem;
    color: var(--color-contact_us);
}
.text_contact_us
{
font-weight: 400;
font-size: 1.6rem;
line-height: 2.0rem;
color: var(--color-contact_us);

margin: 0rem;
}

.div_form
{
    padding-left: 2.7rem;
    padding-top: 10.2rem;
}

.center_check_button
{
    /*text-align: center;*/
    padding-top: 3.5rem;
}

.name_input
{
width: 32.0rem;
height: 6.0rem;
background: #5591FF;
border-radius: 1.0rem;
border-style: none;
}

input[type="tel"]
{
width: 32.0rem;
height: 6.0rem;
background: #5591FF;
border-radius: 1.0rem;
border-style: none;

margin-top: 1.5rem;
}

input[type="checkbox"]
{
    border: 0.1rem solid black;
    position: absolute;
    top: 387rem;
    width: 24px;
    height: 24px;
    background: rgba(40,40,40,0.2);
}

/*TEST*/
/*END TEST*/

.message_input
{
    width: 32.0rem;
height: 10.0rem;
background: #5591FF;
border-radius: 1.0rem;
border-style: none;

margin-top: 1.5rem;
}

.text_privacy
{
font-weight: 400;
font-size: 1.6rem;
line-height: 2.0rem;
color: var(--color-contact_us);
padding-left: 5rem;
padding-top: 2.5rem;
}
.policy
{
    text-decoration: underline var(--text-color-policy);
    color: var(--text-color-policy);
}


.send_message
{
    background: var(--color-send-message);
    border-radius: 1.0rem;
    border-style: none;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    color: var(--color-grey2);

    padding-top: 2rem;
}

.tel::placeholder{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-contact_us);
    }
.name_input::placeholder{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-contact_us);
}
.message_input::placeholder{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-contact_us);
}

.form_section{
    padding-top: 11rem;
}

/*________________________________________END SECTION4______________________________*/
/*________________________________________END MAIN______________________________*/

/*________________________________________FOOTER______________________________*/
/*________________________________________SECTION______________________________*/

.footer_rect_1
{
    background: var(--main-text-color);
    border-radius: 3.5rem 3.5rem 0rem 0rem;
    text-align: center;

    height: 73.0rem;
}

.home{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--text-contact-color);
}
.services{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color:  var(--text-contact-color);
}
.contacts{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color:  var(--text-contact-color);
}

.info
{
font-weight: 500;
font-size: 2.2rem;
line-height: 2.7rem;
/* identical to box height */
color:  var(--text-contact-color);
}

.phone_contacts
{
font-weight: 500;
font-size: 2.2rem;
line-height: 2.7rem;
color:  var(--text-contact-color);
}

.copi{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: rgba(255, 255, 255, 0.4);
}
/*________________________________________END SECTION______________________________*/
/*________________________________________END FOOTER______________________________*/