@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Mulish:wght@600;700&display=swap');

:root{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
    --color-primary: #3579F4;
    --main-text-color: #18162D;
    --text-contact-color: #FFFFFF;
    --color-contact_us:rgba(255, 255, 255, 0.9);
    --text-optional-color:#000000;
    --color-send-message:#F0F0FA;
    --text-color-policy:#E4E4E4;
    --color-grey: rgba(255, 255, 255, 0.4);;
    --color-grey2: #8C8C8C;
}

/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */

body{
    max-height: 518.4rem;
}

li
{
    list-style-type: none;
}

ul{
    padding-left: 0rem;
    margin: 0rem;
}

a{
    text-decoration: none;
    margin: 0;
}
h2{
    margin: 0rem;
}
p{
    margin: 0rem;
}
/*__________________________Margin-left и margin-top - не используются_____________*/
/*__________________Когда блоку нужен отступ сверху или слева, он его получает за
____________________счет padding-top и padding-left родителя*/

/*________________________________________HEADER______________________________*/

.header_class{
    /* display: grid;
    grid-template-columns: 0fr 0fr; */
    margin-left: 2.9rem;
    margin-top: 3.0rem;
    margin-bottom: 0;
    margin-right: 0;
    /*overflow: hidden;*/
}

.header_img_logo{
    width: 18.4rem;
    height: 5.3rem;
}

button{
    background: transparent; 
  border-style: none;   
}

.header_menu_but{
  background: transparent; 
  border-style: none;
  /* margin-left: 10.4rem;
  margin-top: 0;
  margin-bottom: 0; */
}
/*________________________________________END HEADER______________________________*/


/*________________________________________MAIN______________________________*/
/*________________________________________SECTION1______________________________*/

.section1{
    overflow-x: hidden;
}

.boat_loading{
    font-family: 'Mulish', sans-serif;;
    font-weight: 600;
    font-size: 3.8rem;
    color: var(--main-text-color);
    /* line-height: 5.2rem; */
    
    
     /*margin: 0rem;
    padding-left: 2.7rem;
    padding-top: 5.2rem; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5.2rem;
    margin-left: 2.7rem;
    margin-bottom: 2.5rem;
}
    
.boat_loading_text{
    /* width: 32.0rem; */
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgba(24, 22, 45, 0.9);
    /* height: 10rem; */
    /* padding-left: 2.9rem;
    padding-top: 2.5rem; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 2.9rem;
    margin-right:2.6rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.box_container_boat{
    position: relative;
    top: 1.5rem;
    height: 33.644rem;
    min-width: 55.9rem;
    overflow-x:hidden;
}

.cupboard_img{
    position: absolute;
    overflow-x:hidden;
    left: 14.650rem;
    right: 0rem;
}

.boat_img{
    position: absolute;
    top: 14.394rem;
}

.hide{
    display: none;
}

.type_boat_text{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-left: 2.7rem;
    margin-top: 5.056rem;
    margin-bottom: 2.5rem;
}

 /* display: grid;
    max-width: 32.346rem;
    height: 24.8rem;
    grid-template-columns: repeat(3, 1fr); */
    /* flex-flow: column wrap; */
/* .container {
    margin: 0rem;
    padding: 0rem;
   
    display: -webkit-inline-flex;
    display: inline-flex; 
    min-width: 32.346rem;
    justify-content: center;
    flex-wrap: wrap;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
} */

div.list_center{
    text-align: center;
}

ul.list{
    margin-left: 2.7rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: space-evenly;
    max-width: 32.346rem;
    row-gap: 2.3rem;
    column-gap: 0.954rem;
}

/* .container_div{
    box-sizing: border-box;

    padding-left: 2.7rem;
    padding-top: 2.5rem;
} */

.box{
    height: calc(1.8rem + 9rem + 0.5rem);
}

.box_type_of_boats{
    background: #F0F0FA;
    border-radius: 1.0rem;
    width: 10.146rem;
    height: 9.0rem;
    /* margin: 2.3rem 0.477rem; */
}

.img_boat_grid{
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.546rem;
    padding-bottom: 1.9rem;
}


.img_boat_grid_1{
    padding-left: 2.7rem;
    padding-top: 2.2rem;
    padding-right: 2.746rem;
    padding-bottom: 2.1rem;
}

.img_boat_grid_2{
    padding-left: 2.6rem;
    padding-top: 2.1rem;
    padding-right: 2.646rem;
    padding-bottom: 2rem;
}

.img_boat_grid_3{
    padding-left: 2.8rem;
    padding-top: 2.2rem;
    padding-right: 2.746rem;
    padding-bottom: 2.2rem;
}

.img_boat_grid_4{
    padding-left: 2.7rem;
    padding-top: 2.4rem;
    padding-right: 2.646rem;
    padding-bottom: 2.3rem;
}

.img_boat_grid_5{
    padding-left: 2.4rem;
    padding-top: 1.9rem;
    padding-right: 2.446rem;
    padding-bottom: 1.8rem;
}

p.text_types_of_boat{
    display: flex;
    font-family: 'Mulish', sans-serif;;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    /* identical to box height */
    color: var(--main-text-color);
    /* text-align: center; */
    justify-content: center;
    align-items:flex-end;
    margin-top: 0.5rem;
    /* padding-top: 2.4rem; */
}
/* 
p.text_jet{
    font-family: 'Mulish', sans-serif;;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    /* identical to box height */
    /* text-align: center;
    color: var(--main-text-color);

    padding-top: 2.6rem;
}

p.text_sports{
    font-family: 'Mulish', sans-serif;;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--main-text-color);

    padding-top: 2.5rem;
}

p.text_pontoon{
    font-family: 'Mulish', sans-serif;;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--main-text-color);

    padding-top: 2.6rem;
}

p.text_sail{
    font-family: 'Mulish', sans-serif;;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--main-text-color);

    padding-top: 2.7rem;
}

p.text_yachts{
    font-family: 'Mulish', sans-serif;;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--main-text-color);

    padding-top: 2.2rem;
}  */
/*________________________________________END SECTION1______________________________*/

/*________________________________________SECTION2______________________________*/
.container_shipment{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: var(--color-primary);

    /* padding-top: 4rem;
    padding-left: 2.7rem; */
    margin-top: 9rem;
    margin-bottom: 2.47rem;
    margin-left: 2.7rem;
}

.hr_padding{
    /* padding-left: 2.8rem;
    padding-top: 2.45rem; */
    margin-left: 2.8rem;
}

.hr_style{
    width: 32.0rem;
    border: 0.15rem solid var(--color-primary);
	background: var(--color-primary);
    border-radius: 0.3em ;

    margin: 0rem;
}

.text_container_shipment{
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: var(--main-text-color);
    /* padding-left: 2.8rem;
    padding-top: 3.95rem; */
    margin-top: 3.95rem;
    margin-left: 2.8rem;
    margin-right: 2.7rem;
}

.img_section2{
    margin-left: 2.9rem;
    margin-top: 4rem;
    margin-right: 2.6rem;
}

.flat_reck_loading{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: var(--color-primary);

    /* padding-top: 5rem;
    padding-left: 2.7rem; */

    margin-top: 7.972rem;
    margin-left: 2.7rem;
}

/* .text_flat_reck{
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: var(--main-text-color);
    padding-left: 2.8rem;
    padding-top: 3.95rem;

    margin: 0rem;
} */


/* .on_deck_cargo{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.8rem;
    color: var(--color-primary);

    padding-left: 2.7rem;
    padding-top: 4rem;

    margin: 0rem;
}

.text_on_deck_cargo{
    font-size: 2.2rem;
    line-height: 2.4rem;
    color: var(--main-text-color);

    padding-left: 2.8rem;
    padding-top: 3.95rem;

    margin: 0rem;
} */

/*________________________________________END SECTION2______________________________*/


/*________________________________________SECTION3______________________________*/
.section3{
    padding-top: 10.96rem;
}

.h2_optional_services
{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 4.3rem;
    color: var(--main-text-color);

    /* padding-left: 2.8rem; */
    margin-left: 2.8rem;
    /* margin-bottom: 1rem; */
}

.div_optinal_service{
    padding-left: 2.8rem;
}

.button_optional_first{
    background: var(--text-contact-color);
    box-shadow: -0.4rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
    border-radius: 2.0rem;
    width: 32.0rem;
    height: 10.0rem;
    text-align: center;
    margin-top: 3rem;
}

.button_optional{
    background: var(--text-contact-color);
    box-shadow: -0.4rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
    border-radius: 2.0rem;
    width: 32.0rem;
    height: 10.0rem;
    text-align: center;
    margin-top: 2rem;
}

.text_optional{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    align-items: center;
    color: var(--text-optional-color);
    padding-top: 3.7rem;
    margin-left: 7.4rem;
    width: 17.2rem;
    height: 2.6rem;
}
.text_optional_1{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 3.7rem;
    margin-left: 3.0rem;
    width: 25.9rem;
    height: 2.6rem;
}
.text_optional_2{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 3.7rem;
    margin-left: 0.8rem;
    width: 30.0rem;
    height: 2.6rem;
}
.text_optional_3{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 2.4rem;
    margin-left: 5.4rem;
    min-width: 21.1rem;
    height: 5.2rem;
}
.text_optional_4{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 2.4rem;
    margin-left: 4.6rem;
    width: 22.7rem;
    height: 5.2rem;
}
.text_optional_5{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-optional-color);
    padding-top: 2.4rem;
    margin-left: 7.6rem;
    width: 16.7rem;
    height: 5.2rem;
}
/*________________________________________END SECTION3______________________________*/

/*________________________________________SECTION4______________________________*/
.form_contact_us{
    background-color: var(--color-primary);
    border-radius: 3.5rem 3.5rem 0rem 0rem;
    height: 115.1rem;
    width: 100%;
}

.contact_us{
    font-weight: 700;
    font-size: 3.4rem;
    /* line-height: 2.0rem; */
    color: var(--color-contact_us);
    padding-top: 10rem;
}
.text_contact_us{
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-contact_us);
    margin-top: 4rem;
}

.name_phone_message{
    margin-top: 3.5rem;
}

.div_form{
    margin-top: 10.2rem;
}

.padding_without_img{
    margin-left: 2.7rem;
}

.name_input{
    width: 90%;
    height: 6.0rem;
    background: #5591FF;
    border-radius: 1.0rem;
    border-style: none;
}

input[type="tel"]{
    display:flex ;
    justify-content: space-around;
    width: 90%;
    height: 6.0rem;
    background: #5591FF;
    border-radius: 1.0rem;
    border-style: none;

    margin-top: 1.5rem;
}

.grid_send{
    text-align: center;
    display: grid;
    grid-template-columns: 0fr 0fr;
}

/* .input[type="checkbox"]
{
    border: 0.1rem solid black;
    height: 2.4rem;
    background: rgba(40,40,40,0.2);
    width: 2.4rem;
} */

#checkb {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    background: transparent;
    color:black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0.15rem solid var(--color-send-message);
}
#checkb:checked {
    background: rgba(40,40,40,0.7);
}
.checkbox-container {
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-gap: 2rem;
    width: 27.1rem;
    height: 2.4rem;
    overflow: hidden;
}

.padding_checkbox{
    margin-top: 2.5rem;
}

/*TEST*/
/*END TEST*/

input[type="text"] {
    padding: 0px 0px;
}
/* padding inline */
.message_input{
    width: 90%;
    height: 10.0rem;
    background: #5591FF;
    border-radius: 1.0rem;
    border-style: none;

    margin-top: 1.5rem;
}

.text_privacy{
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-contact_us);
    width: 22.7rem;
    /* padding-left: 5rem; */
}
.policy{
    text-decoration: underline var(--text-color-policy);
    color: var(--text-color-policy);
}
/* 
.padding_send_message{
    padding-top: 3.5rem;
} */

.send_message{
    background: var(--color-send-message);
    border-radius: 1.0rem;
    border-style: none;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    color: var(--color-grey2);

    width: 320px;
    height: 60px;

    margin-top: 3.5rem;;
}

.overflow_img{
    overflow-x:hidden;
    padding-left: 0.3rem;
    padding-top: 2rem;
}

.tel::placeholder{
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-contact_us);
    padding-left: 2.9rem;
    }
.name_input::placeholder{
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-contact_us);
    padding-left: 2.9rem;
}
.message_input::placeholder{
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-contact_us);
    padding-left: 2.9rem;
}

.form_section{
    padding-top: 11rem;
    /* margin-right: 0rem; */
}

/*________________________________________END SECTION4______________________________*/
/*________________________________________END MAIN______________________________*/

/*________________________________________FOOTER______________________________*/
/*________________________________________SECTION______________________________*/

footer{
    position: relative;
    margin-top: -3.5rem;
    margin-bottom: 2rem;
    margin-left: 0;
}

.footer_rect_1{
    background: var(--main-text-color);
    border-radius: 3.5rem 3.5rem 0rem 0rem;

    /* height: 73.0rem; */
}

.footer_mda_shipping{
    /* margin-top: 1.2rem; */
    padding-top: 6.2rem;
    margin-left: 7rem;
}

.footer_padding_home{
    margin-top: 6.4rem;
}

.home{
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--text-contact-color);

    margin-left: 16rem;
}

.footer_padding_services{
    margin-top: 3rem;
}

.services{
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color:  var(--text-contact-color);
    width: 8.5rem;
    margin-left: 14.5rem;
}

.footer_padding_contacts{
    margin-top: 3rem;
    margin-left: 13.9rem;
}

.contacts{
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color:  var(--text-contact-color);
}

.footer_grid_icons{
    display: grid;
    grid-template-columns: 0fr 0fr;
    margin-top: 8.7rem;
    margin-left: 13.9rem;
    grid-gap: 2rem;
}

.footer_info_padding{
    margin-left: 11.1rem;
    margin-top: 3.4rem;
}

.info{
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.7rem;
    /* identical to box height */
    color:  var(--text-contact-color);
}

.footer_info_phone{
    margin-left: 9.7rem;
    margin-top: 1.7rem;
}

.phone_contacts{
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.7rem;
    color:  var(--text-contact-color);
}

.copi{
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: rgba(255, 255, 255, 0.4);

    margin-left: 3.7rem;
    margin-top: 11.2rem;
    padding-bottom: 4rem;
}
/*________________________________________END SECTION______________________________*/
/*________________________________________END FOOTER______________________________*/


.flex_test_button{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}